
body{
    display: flex;
    align-items: center;
    justify-content: center;
}


.main_frame{
    display: flex;
    flex-direction: column;
    align-items:  center;
    margin-top: 20px;
    width: 360px;
    height: 800px;
    border-radius: 5px;
    background-color: azure;
    filter: drop-shadow(5px 5px 8px #000000);
}

.main_img{
    align-self: flex-start;
    margin: 0;
    width: 100%;
    height: auto;
}

.main_frame h1{
    color: #2864AE;
    font-family: "Kanit";
    font-size: 100px;
    font-weight: 700;
    margin-top: -0.7em;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    
}
.main_frame img{
    width: 100%;
    height: auto;

}

.logo{
    margin: -15px 8px 20px 8px;
}

.text{
    font-family: "Kanit";
    font-size: 20px;
    font-size: 1em;
    text-align: center;
}







@media (max-width: 800px) {
body{
    justify-content: flex-start;
}
.main_frame{

    margin-top: 0;
    width: 100vw;
    height: 100vh;
}
.main_frame h1{

    font-size: 10rem;

}
.btn{
   margin-top:  20px;       
}

.text{
    padding-top: 20px;
}
}